@import './_colors.scss';
@import './_mixins.scss';

.CreateList {
  width: 100%;
  display: flex;
  margin-bottom: 1em;
  background-color: $list-color;
  padding: 0.5em;
  @include box-shadow($list-color);
}

.CreateList-title, .CreateList-submit {
  padding: 1em;
}

.CreateList-title {
  background-color: $card-color;
  width: 100%;
  flex: 5;
}

.CreateList-submit {
  flex: 1;
}
